html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color:black;
}
button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}