html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 124rem;
}

.header {
  height: 8.6rem;
  background-color: #052A44;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header-logo a {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 500;
  color: #FFFFFF;
}
.header-nav li {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.header-nav li a {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  color: #FFFFFF;
}
.header-right img {
  margin-right: 5rem;
}
.header-right button {
  padding-right: 28px;
  font-weight: 400;
  color: #FFF;
}
.header-right button:last-child {
  padding: 15px 43px;
  background-color: #FFF;
  border-radius: 8px;
  font-weight: 600;
  color: #000;
}

.hero {
  display: flex;
  max-width: 124rem;
  width: 100%;
}
.hero-wrapper {
  width: 100%;
  min-height: 53.8rem;
  max-width: 124rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title {
  font-family: "Poppins";
  font-size: 4.8rem;
  font-weight: 700;
  color: black;
}
.hero-title span {
  color: #E8DB84;
}
.hero-left {
  max-width: 58rem;
}
.hero-left .students {
  width: 28rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-left .students p {
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}
.hero-left .students img:nth-child(2) {
  position: absolute;
  left: 32px;
}
.hero-left .students img:nth-child(3) {
  position: absolute;
  left: 64px;
  z-index: 1;
}
.hero-left p {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
}
.hero-btn {
  width: 37rem;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.hero-btn button {
  padding: 1.5rem 4.3rem;
  background-color: #052A44;
  color: #FFF;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
}
.hero-btn .play {
  width: 16rem;
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero-btn .play span {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
}
.hero-btn .play-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  background: url("../../assets/images/hero/polygon-arrow.png") no-repeat center center;
}
.hero-right {
  width: 506px;
  height: 408px;
  background-color: #E8DB84;
  border-radius: 20px;
  position: relative;
}
.hero-right img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.hero-right .our-happy {
  width: 143px;
  height: 106px;
  position: absolute;
  background-color: #FFF;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}
.hero-right .our-happy h2 {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin: 5px;
}
.hero-right .our-happy p {
  font-family: "averin";
  font-size: 1rem;
  font-weight: 350;
  color: #2E2E2E;
  margin: 4.5px;
}
.hero-right .our-happy img {
  width: 31px;
  height: 31px;
  position: static;
}
.hero-right .hero-1 {
  top: 26px;
  left: -74px;
}
.hero-right .hero-2 {
  top: 144px;
  left: -74px;
}
.hero-right .hero-3 {
  top: 268px;
  left: -74px;
}

/*# sourceMappingURL=main.css.map */
