@use "../abstracts/variables";

.about // ===== heading =====

&-heading {
    h2 {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-size: 4.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0;
        color: variables.$black-color;
    }

    p {
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        color: variables.$secondary-black-color;
    }
}