@use "../abstracts/mixins";

.container{
    margin: 0 auto;
    max-width: 124rem;
}
.header {
    height: 8.6rem;
    background-color: #052A44;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
&-logo{
    a {
      @include mixins.gen-font(2rem, 500, #FFFFFF);
    }
    }
&-nav {
    li {
        padding:10px 20px;
        display: flex;
        justify-content: space-between;
        gap: 35px;

        a   {
            @include mixins.gen-font(1.6rem, 400, #FFFFFF);
            }
        }
    }
&-right {
    img {
        margin-right: 5rem;
    }
    button{
        padding-right:28px;
        font-weight: 400;
        color: #FFF;
    }
    button:last-child{
        padding:15px 43px;
        background-color: #FFF;
        border-radius: 8px;
        font-weight: 600;
        color: #000;
    }
}
}